<!--
  Generated template for the DesafiosFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton *navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Formulario desafio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf=" codigoDesafioQr == 'CodDef01'">
        <p>  Desafio 1 </p>
        <button ion-button (click)="clickImage()">Capture Image</button>
        <br>
        <img src="{{clickedImagePath}}" />
        <button ion-button full (click)="registroDesafioUser()" >Enviar Formulario</button>
  </ion-item>

  <ion-item *ngIf=" codigoDesafioQr == 'CodDef02'">
        <p>  Desafio 2 </p>
        <button ion-button full (click)="registroDesafioUser()" >Enviar Formulario</button>
  </ion-item>

  <ion-item *ngIf=" codigoDesafioQr == 'CodDef03'">
        <p>  Desafio 3 </p>
        <button ion-button full (click)="registroDesafioUser()" >Enviar Formulario</button>
  </ion-item>

</ion-content>
